#shortcut{
	height: 30px;
	background: #f7f7f7;
	width: 100%;
}

#shortcut a:hover,.hotword li a:hover{
	color: #E4393C;
	border-bottom: solid 1px #e4393c;
}

.wrap{
	overflow: hidden;
	zoom:1;
}  

.shortsyle{
	line-height: 30px;
}

.shortcut_left{
	margin-left: 50px;
	float: left;
}

.shortcut_right{
	float: right;
}

.Z_left,.Z_right{
	float:left;
	padding-left: 20px;
	margin-right: 10px;
	background: url(images/star.jpg) 0 -2px no-repeat;
}

.Z_right{
	background: url(images/star.jpg) 0 -2px no-repeat;
	background-position-x:-75px;
}

.Z_right span{
	font-size:13px;
	font-weight: bold;
	color: black;
	margin:0 3px;
}

.shortcut_right{
	margin-right:50px;
} 

.shortcut_right li{
	float: left;
	padding:0 10px 0 0;
}

.shortcut_right s{
	border-left: solid 1px #ddd;
	margin-right: 11px;
}

.vip{
	position:relative;
}

.vip img{
	position: relative;
	top:2px;
	right: 2px;
}

.jid s{
	margin-right: 35px;
}

.bi{
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 13px;
	width: 13px;
	height: 22px;
	background-image: url(images/12.png);
	background-position: -128px -360px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.jid:hover .bi{
	background-position: -128px -399px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

li.b{
	position:relative;
	padding-right: 27px;
}

.shortcut_right b{
	transition: transform .2s ease-in 0s;
   	-webkit-transition: -webkit-transform .2s ease-in 0s;
}

.tran:hover b{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

li.b b{
	position: absolute;
	z-index: 2;
	width: 7px;
	height: 4px;
	background-image: url(images/12.png);
	background-position: -95px -55px;	
}

.jid b{
	left: 93px;
	bottom: 12px;
}

.jid a{
	position: relative;
	z-index: 3;
}

.zhea{
	position: absolute;
	top: 3px;
	left: 5px;
	width:100px;
	height:27px;
	border:solid 1px #ddd;
	border-bottom: none;
	background: #fff;
	display: none;
}

.serve .zhea,.navi .zhea{
	width:77px;
}

.serve font,.navi font{
	position: relative;
	z-index: 3;
}

.zheb{
	position: absolute;
	top: 30px;
	height: 10px;	
	border-top: solid 1px #ddd;
	display: none;
}

.jid .zheb{
	width: 140px;
	left: 107px;
}

.navi .zheb{
	width: 167px;
	right:82px;
}

.serve b,.sb b{
	left: 70px;
	bottom: 12px;
}

.hha{
	position: absolute; 
	z-index: 2;
	background: #fff;
	border:solid 1px #ddd;	
	border-top: none;
	left: 5px;
	width: 77px;
	display: none;
}

.serveA{
	text-align: center;
	line-height: 20px;
}

.jidb{
	padding:20px;
	width:200px;
	display: none;
} 

.ecode img{
	float: left; 
}

.detail{
	margin-left:76px;
	text-align: center;
	padding-top:28px;
}

.detail i,.detail font,.detail strong{
	display: block;
	line-height: 25px;
}

.detail strong{
	color: #E4393C;
}

.detail i{
	position: absolute;
	left: 100px;
	top:25px;
	width: 49px;
	height: 23px;
	background-image: url(images/12.png);
	background-position: 0px -438px;	
}

.app a{
	float: left;
	height: 29px;
	width: 97px;
	margin-top:10px;
	background-image: url(images/12.png);
	background-position: 0 -360px;
	border:none;
}

a.androd{
	margin-left:5px;
	background-position: 0 -399px;
}


.navi{
	position: relative;
}

.dd{
	position: absolute;
	z-index: 2;
	background: #fff;
	width: 244px;
	text-align: center;
	border:solid 1px #ccc;
	border-top:none;
	right: 3px;
	display: none;
}

.dd dl{
	position: relative;
	float: left;
	width: 33%;
	line-height: 20px;
	padding:5px 0;
}

.dd dt{
	font-weight:bold;
}

#o_head{
	width: 100%;
}

.w{
	width: 1210px;
	margin: 0 auto;
}

#header{
	height:65px;
	padding: 15px 0px;
}

#log{
	
}

#search{
	padding: 10px 50px;
	width: 500px;
	position: relative;
	z-index: 1;
}

.hefl{
 	float: left;
}

.search{
 	padding: 3px;
	background: #e4393c;
}

.search input{
	width: 83%;
	height: 20px;
	background-color: white;
	border:none;
	line-height: 20px;
	padding: 5px;
	font-size: 14px;
	color: #999;;	
}

.search input:focus{
	color: #333;
	outline: 0;
	background: #fcfcfc;
 	-webkit-box-shadow:2px 2px 3px #d2d2d2 inset;
	box-shadow: 2px 2px 3px #d2d2d2 inset; 
}

.search span{
 	font-size: 14px;
	font-weight: bold;
	float: right;
	width: 14%;
	text-align: center;
 }

 .search a{
 	display: block;
 	color:#fff;
 	line-height: 30px;
 }

 .hotword span{
 	float: left;
 	padding:0 2px;
 	color:#999;
 }

 .hotword li{
 	float: left;
 	margin:0 5px;
 }

.hotword a{
	color:#999;
}

#manage{
	float: right;
	padding: 18px 0;
	line-height: 30px;
	position: relative;
	z-index: 2;
}

.setstyle{
	float: left;
	margin-left: 10px;
	position: relative;
}

.setstyle i{
	position: absolute;
	top:5px;
	left: 5px;
	height:20px;
	width: 20px;
	background-image: url(images/12.png);
}

.setstyle b{
	position: absolute;
	border:solid 5px #ccc;
}

.styletitle{
	padding-left: 35px;
	padding-right: 25px;
}

.styletitle a:hover{
	border-bottom:solid 1px #e4393c;
	color: #e4393c;
}

.managetitle{
	background: #f7f7f7;
	border: solid 1px #f7f7f7;
	border-bottom: none;
}

.managetitle:hover{
	background: #FFF;
	border: solid 1px #eee;
	border-bottom: none;
}

.myjindong i{
	background-position: -120px -28px;
}

.myjindong:hover i{
	background-position: -120px -57px;
}

.myjindong b{
	right: 10px;
	top: 13px;
	border-color: #ccc transparent transparent; 
}

.myjindong:hover b{
	top:8px;
	border-color: transparent transparent #ccc; 
}

.settle i{
	background-position: -121px -87px;
}

.settle:hover i{
	background-position: -121px -117px;
}

.settle b{
	top:10px;
	right: 5px;
	border-color: transparent transparent transparent #ccc ; 
}

.manegeouter{
	position: absolute;
	right: 0;
	z-index: 4;
	background: #fff;
	border: solid 1px #eee;
	border-top: none;
}

.mycontent{
	width: 310px;
	display: none; 
}

.settlecontent{
	width: 300px;
	padding:10px 10px 10px 30px;
	display: none; 
}

.mycontent s{
	position: absolute;
	height: 1px;
	width: 65%;
	border-top: 1px solid #eee;
}

.mycontent span{
	display: block;
	border-bottom: 1px #eee solid;
	padding: 5px 5px;
}

.mycontent a{
	color: #005EA7;
}

.mycontent a:hover{
	border-bottom: 1px solid #005EA7;
}

.myselect{
	position: relative;
}

.myselect li{
	float: left;
	width: 43%;
	margin: 1px 10px;
}

.myselect s{
	top: 5%;
	left: 50%;
	width: 1px;
	height: 90%;
	border-right: 1px solid #eee;
}

.myselect a{
	line-height: 25px;
	display: block;
	padding: 0 5px;
}

.myselect a:hover{
	background:whiteSmoke;
	color: #e4393c;
	border-bottom: none;
}

.settlecontent font{
	float: left;
	height: 50px;
	width: 60px;
	background-image:url(images/12.png);
	background-position: 0 0; 
}

.settlecontent div{
	margin-left: 55px;
	margin-top: 15px;
}
.settlecontent span{
	float: left;
	width: 100%;
	text-indent: 2em;
	line-height: 25px;
}


.settlecontent s{
	position: absolute;
	width: 61%;
	border-top: solid 1px #eee;
	top: 0px;
	left: 0px;
}

#w-header{
	position: relative;
	background: #e4393c;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
}

#w-header a{
	color: #fff;
}

#wleft{
	float: left;
	width: 210px;
}

#wleft a:hover{
	border-bottom: solid 1px #fff;
}

#wnavi{
	margin-left:210px; 
}

.wulnavi{
	height:100%;
}

.wulnavi li{
	float: left;
	width: 8%;
}

.wulnavi a{
	display: block;
}

.wulnavi a:hover{
	background-color: #A40000;
}

#wmoney{
	position: absolute;
	width: 10%;
	right: 20px;
	top: 0px;
}

#wmoney a{
	display: block;
	height:40px;
	width: 100%;
	background: url(images/rBEhV1MEEK4IAAAAAAAZY9Mm2-UAAI06QMDTBcAABl7978.jpg) 
	no-repeat;
}

.h_body_navi{
	float: left;
	width: 204px;
	border: solid 3px #e4394c;
	border-top: none;
	padding: 3px 0;
	background:#FAFAFA;;
	position:relative;
}

.left_navi{
	position: relative;
}

.body_navi_left{
	position: relative;
	padding:5px 0 5px 13px;
	border-top:solid 1px #fff;
}

.left_navi li:hover .body_navi_left{
	background: #fff;
	box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	-zom-box-shadow: 0 0 8px #DDD;
}

.left_navi li:hover .body_navi_left i{
	z-index: 4; 
}

.left_navi li:hover .body_navi_left em{
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	-zom-box-shadow: 0 0 8px #DDD;
}

.left_navi li:hover .body_navi_left b{
	display: none;
}

 .body_navi_left i{
	position: absolute;
	height: 30px;
	width: 10px;
	right: -5px;
	background: #fff;
	top: 0px;
	z-index: -1;
}

 .body_navi_left em{
	position: absolute;
	height: 30px;
	width: 202px;
	top: -1px;
	left: 2px;
}

 .body_navi_left span{
	position: relative;
	z-index: 1px;
	margin-left: -3px;
}

 .body_navi_left a{
	font-size: 14px;
	color: #333;
}

 .body_navi_left a:hover{
 	color: #e4393c;
 	font-weight: bold;
 	border-bottom:solid 1px #e4393c;
}

 .body_navi_left b{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 10px;
	height: 10px;
	background: url(images/12.png);
	background-position: -107px -43px;
}

.body_navi_content{
	position: absolute;
	top: 0px;
	left: 204px;
	z-index: 2;
	background: #fff;
	display: none;
	z-index: 3;
}

.left_navi li:hover .body_navi_content{
	display: block;
}

.shadow{
	box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	-zom-box-shadow: 0 0 8px #DDD;
	border:solid 1px #ddd;
}

.species_left{
	float: left;
	padding: 10px 6px;
	width: 477px;
}

.species_left p{
	width: 54px;
	float: left;
	text-align: right;
	padding: 2px 7px;
}

.species_left strong a{
	color: #e4393c;
	text-decoration: underline;
}

.species_float dd{
	float: left;
	padding: 3px 7px;
	position: relative;
}

.species_float i{
	position: absolute;
	width: 1px;
	height: 15px;
	border-left: solid 1px #ccc;
	left: 0px;
	top: 3px;
}

.species_float a:hover{
	color: #e4393c;
	text-decoration: underline;
}

.species_left hr{
	border: none;
	border-bottom: solid 1px #eee;
	margin:8px 0;
}

.species_right{
	margin-left: 485px;
	background: red;
}

.h_body_content{
	padding: 10px;
	padding-bottom: 0px;
	background: #fff;
	margin-left: 210px;
	margin-right: 312px;
	height:390px;
}

.slide{
	position: relative;
}

.slide_item{
	height:240px;
}

.slide_item li{
	position: absolute;
	height:240px;
}

.slide_item img{
	height:240px;
}

.slide_tontrols{
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
	line-height: 22px;
}

.slide_tontrols span{
	display: block;
	float: left;
	height: 22px;
	width: 22px;
	text-align: center;
	background: #999;
	margin:0 2px;
	border-radius: 11px;
	-ebkit-border-radius: 11px;
	-zom-border-radius: 11px;
	cursor: pointer;
}

.jsscroll{
	width: 670px;
	position: relative;
	border-bottom: solid 1px #eee;
}

.jsscroll_control{
	position: absolute;
	height: 149px;
	width: 30px;
	cursor: pointer;
}

.jsscroll_control:hover{
	background: whiteSmoke;
}

.jsscrollL{
	left: 0;
	border-left: solid 1px #eee;
}

.jsscrollR{
	right:0;
	border-right: solid 1px #eee;
}

.jsscroll_control i{
	height: 33px;
	width: 25px;
	position: absolute;
	margin: 60px 2px;
	background: url(http://misc.360buyimg.com/product/skin/2013/i/20130330B_1.png);
}

.jsscroll_control:hover i{
	background: url(http://misc.360buyimg.com/product/skin/2013/i/15.png);
}

.jsscrollL i{
	background-position:-85px -45px;
}

.jsscrollR i{
	background-position:-55px -45px; 
}

.jsscrollR:hover i{
	background-position: 0 -37px;;
}

.jsscrollcontent{
	position: relative;
	margin: 0 31px;
	height: 149px;
	overflow: hidden;
	width: 608px;
}

.s{
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
}

.jsscrollwrap{
	position: absolute;
	width: 4000px;
}

.jsscrollwrap dd{
	float: left;
	height: 150px;
}

.jsscrollwrap img{
	height:149px;
}

.h_body_side{
	padding-top: 10px;
	float: right;
	width:310px;
}

.side_ad{
	height:70px;
}

.side_newsflash p{
	padding: 15px 0 6px;
	border-bottom: solid 2px #aaa;
}

.side_newsflash b{
	float: left;
	font-family: "microsoft yahei";
	font-size: 14px;
}

.side_newsflash span{
	float: right;
}

.side_newsflash span a{
	color: #005EA7;
}

.side_newsflash span a:hover{
	border-bottom: solid 1px #005EA7;
}

.kbcontent{
	position: relative;
	border: solid 1px #eee;
	padding: 5px 0;
}

.kbcontent li{
	padding: 0 10px;
	float: left;
	width: 43%;
	line-height: 25px;
}

.kbcontent a:hover{
	color: #e4393c;
	border-bottom: solid 1px #e4394c;
}

.kbcontent s{
	position: absolute;
	top: 5px;
	width: 1px;
	left: 50%;
	border-left: solid 1px #eee;
	height: 90%;
}

.virtualtab{
	position:relative;
	padding-top:5px;
}

.tabarrow{
	position: relative;
	top: 32px;
	width: 25%;
	height: 2px;
	background: #e4393c;
}

.tabarrow b{
	position: absolute;
	border: solid 7px #e4393c;
	bottom: 0;
	left: 42%;
	border-color: transparent transparent #e4393c;
}

.tabnavi ul{
	border-bottom: solid 2px #aaa;
	height:30px;
}

.tabnavi li{
	float: left;
	width:25%;
	text-align: center;
}

.tabnavi a{
	line-height: 30px;
	font-family: "microsoft yahei";
	font-size: 14px;
	font-weight: bold;
}

.tabnavi a:hover{
	color: #e4393c;
	text-decoration: underline;
}

.tabcontent{
	position: relative;
	width:308px;
	height:127px;
	border:solid 1px #eee;
	border-top: 0;
}

#imgTablew{
	width: 1240px;
	margin:0 auto;
}


.headshow{
	height: 45px;
	background: url(images/headshow.png) no-repeat 15px center;
}

.imgtable{
	padding-left:15px;
}

.tablelist{
	width:295px;
	float:left;
	position: relative;
	margin:0 10px 6px 0;
}

.tablelist img{
	position: relative;
	height: 190px;
}

.imgmove{
	position: absolute;
	width: 100%;
	height: 100%; 
	top: 0;
	left: 0;
	z-index: 2;
}

.baoguo{
	position: absolute;
	width: 100px;
	background: white;
	height: 165px;
	opacity: 0.8;
	padding: 25px 0px 0px 20px;
	z-index: 1;
}


.baoguo h3{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #333;
	padding-bottom:8px;
}

.textmone span{
	color: #EA6365;
}

.barlist{
	margin-top:20px;
	list-style-type:
}

.barlist li{
	position: relative;
	padding-left: 8px;
	color: #aaa;
}

.barlist i{
	position: absolute;
	left: 0;
	top:8px;
	width:3px;
	height:3px;
	background: #aaa;
	border-radius:2px;
}

.tablefoot{
	margin-left: 15px;
}

.tablefoot dt{
	float: left;
	margin:0 10px 6px 0px;
}

#variousKinds{
	width:1210px;
	margin:0 auto;
}

.kindline{
	height: 40px;
	position: relative;
}

.bottomline{
	height: 2px;
	background: #aaa;
}

.bottomline p{
	position: absolute;
	height: 2px;
	width: 158px;
	background: #e4393c;
	left: 275px;
}

.bottomline i{
	position: absolute;
	top: -14px;
	left: 40%; 
	border: solid 8px transparent;
	border-bottom: solid 6px #e4393c;
}

.kindline b, .kindline em, .kindline i{
	position: absolute;
	font-style: normal;
	text-align: center;
}

.kindline b{
	height: 35px;
	width: 35px;
	font-size: 18px;
	line-height: 30px;
	color: white;
	background: url(images/11.png);
	background-position: -35px 0px;
}

.kindline em{
	height: 20px;
	width: 30px;
	bottom: 0;
	left: 5px;
	background: url(images/11.png);
	background-position: -75px 13px;
}

.kindline h3{
	font-size: 22px;
	margin-left: 60px;
	font-family: "microsoft yahei";
	line-height: 47px;
	color: #696969;
	height:40px;
}

.morechose{
	float: right;
	line-height:47px;
}

.morechose span{
	float: left;
	display:block;
	position: relative;
}

.morechose i{
	height: 15px;
	width: 20px;
	background: url(images/13.png);
	top: 16px;
	right: 0;
	background-position: -120px -50px;
	z-index: -1;
}

.morechose a{
	color: #005EA7;
	display: block;
	padding: 0 15px 0 0;
	height: 40px;
	margin-left: 15px
}

.morechose a:hover{
	text-decoration: underline;
}

.kindcontent{
	border-bottom: solid 1px #eee;
	margin-bottom: 15px;
}

.kindfloat{
	float: left;
}

.kindleft{
	width: 208px;
}

.kindlistul{
	padding:10px 5px 0;
}

.kindlistul li{
	float: left;
	width: 50%;
	line-height: 24px;
}

.kindlistul li a:hover{
	text-decoration:underline;
	color:#E4393C;
}

a.ima{
	display: block;
	height:155px;
	width:209px; 
}

/* .kindcenter{
	width:790px;

} */

.kindright{
	width:210px;
	float: right;
	border-left: solid 1px #eee;
}

.kindrightlist{
	padding: 0px;
}

.kindrightlist li{
	line-height: 0px;
	border-bottom: solid 1px #F1F1F1;
}

 .kindright a.ima{
	height:180px;
	width: 209px;
} 

.kindcenter{
	height:361px;
	width:790px;
}

.sortcontent{
	position:absolute;
	width:790px;
}

.sortcontent h3{
	position: absolute;
	top: -27px;
	cursor: pointer;
	width: 158px;
	text-align: center;
}

.sortcontentul{
	display:none;
}

.tab1{
	left: 0;
}

.tab2{
	left: 150px;
}

.tab3{
	left: 300px;
}

.tab4{
	left: 450px;
}

.tab5{
	left:600px;
}

.sortli{
	float: left;
	border-left: solid 1px #eee;
	border-bottom: solid 1px #eee;
	position: relative;
	height: 180px;
}

.sortli img{
	display:block;
	margin:0 auto;
}

.mes{
	width: 137px;
	padding: 5px 10px 0;
}

.mes a:hover{
	color: #e4393c;
	text-decoration:underline; ;
}

p.mes{
	position: absolute;
	bottom: 10px;
	color: #e4393c;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana;
}

.mes span{
	font-size: 10px;
	font-weight:normal;  
}

.tanbutton{
	position: absolute;
	width: 170px;
	height: 6px;
	bottom: 7px;
	left: 153px;
}

.tanbutton span{
	display: block;
	float: left;
	width: 40px;
	height: 6px;
	margin: 0 1px;
	background: #aaa;
	cursor:pointer;
}

.tabsorul{
	height: 180px;
	width: 473px;
	overflow: hidden;
}

.tabsortli{
	width:2000px;
	height: 180px;
	position: relative;
}

.tabsortli li{
	float:left;
}



















  
